:global {
  .fade-enter {
    opacity: 0;
    transform: translateX(50px);
  }

  .fade-enter-active {
    transition: all 400ms ease-out;
    opacity: 1;
    transform: translateX(0px);
  }

  .fade-exit {
    transition: all 100ms ease-out;
    opacity: 1;
    transform: translateX(0px);
  }

  .fade-exit-active {
    opacity: 0;
    transform: translateX(150px);
  }

  .page {
    will-change: transform;
    opacity: 0;
  }

  .page-enter {
    opacity: 0;
  }

  .page-enter.page-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }

  .page-exit {
    opacity: 1;
  }

  .page-exit.page-exit-active {
    opacity: 0;
    transition: opacity 1000ms ease-in;
  }

  .fix-container {
    position: fixed;
  }
}
