.element {
  font-family: "Nunito";
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  
  width: 100%;
  display: flex;
  background:#f093fb;
  border-radius: 4px;
  letter-spacing: 0.3px;
  justify-content: center;
  align-items: center;
  padding: 14px;
  cursor: pointer;
  transition: background 200ms ease-out;
  background-position: 0 0;
  text-transform: uppercase;
  box-sizing: border-box;
}

.element:hover {
  background: #f093fb;
}
